<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投票界面</title>
</head>
<body>
        <h2>
        请投票
        </h2>
        <h3>{{ voting.votingcontent }}</h3>
    {% if voting %}
       <ul>
        <form action="#" method="POST">
        {% for temp in voting.vote_set.all %}
        <li><input type="radio" name="sex" value="1">{{ temp.OptionNo1 }}</li>
                        <br>
        <li><input type="radio"name="sex"   value="2" >{{temp.OptionNo2 }}</li><br>

        <input type="submit" value="提交">
        </form>
        {% empty %}
            <li></li>
        {% endfor %}
    </ul>
    {% else %}
    {% endif %}

    <a href="{% url 'vote:index' %}">返回首页</a>


</body>
</html>